<div id="app-user-list-body">
  <h1 class="display-3"><!--<fa name="cog" animation="spin"></fa> -->List of users</h1>

  <div *ngIf="paginationHelper != null; else noEntitiesBlock">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col" class="text-center">Full Name</th>
          <th scope="col" class="text-center">Login</th>
          <th scope="col" class="text-center">Phone Number</th>
          <th scope="col" class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of paginationHelper.Entities">
          <td>{{user.FullName}}</td>
          <td>{{user.Login}}</td>
          <td class="text-center">{{user.PhoneNumber}}</td>
          <td class="text-center">{{user.Id}}</td>
        </tr>
      </tbody>
    </table>

    <br><br>

    <app-pagination
      [totalPages]="paginationHelper.TotalPages"
      [pageNumber]="paginationHelper.PageNumber"
      [url]="pageUrl"
      [pagesToDisplay]="9">
    </app-pagination>

  </div>

  <ng-template #noEntitiesBlock>
    <div class="alert alert-danger" role="alert">There are no users in the database.</div>
  </ng-template>
</div>