<div id="app-user-list-body">
  <h1 class="display-3"><fa name="cog" animation="spin"></fa> List of users</h1>

  <div *ngIf="paginationHelper != null; else noEntitiesBlock">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col" class="text-center">Full Name</th>
          <th scope="col" class="text-center">Login</th>
          <th scope="col" class="text-center">Phone Number</th>
          <th scope="col" class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of paginationHelper.entities">
          <td>{{user.fullName}}</td>
          <td>{{user.login}}</td>
          <td>{{user.phoneNumber}}</td>
          <td class="text-center">{{user.id}}</td>
        </tr>
      </tbody>
    </table>

    <br><br><br><br>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Page: {{paginationHelper.pageNumber}}</li>
      <li class="list-group-item">Page Size: {{paginationHelper.pageSize}}</li>
      <li class="list-group-item">Total Pages: {{paginationHelper.totalPages}}</li>
    </ul>
  </div>

  <ng-template #noEntitiesBlock>There are no users in the database</ng-template>
</div>